@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Source+Code+Pro:wght@400;500;700&family=Fira+Code:wght@300;400;600;700&display=swap");
html {
  box-sizing: border-box;
  font-family: "Fira Code";
}

*::after,
*::before {
  box-sizing: inherit;
}

input,
textarea,
button,
select {
  outline: none;
  font: inherit;
}

html,
body,
h1, h2, h3, h4, h5, h6,
figure,
blockquote,
dl, dd,
p,
ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #11111b;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  width: 100%;
}

.container {
  color: #ffffff;
  padding: 1.2rem;
}
@media (max-width: 767px) {
  .container {
    position: relative;
    padding: 1rem 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 1rem 3rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 1rem 4rem;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 1rem 4rem;
  }
}

hr {
  margin: 1.5rem auto;
}

.btn-send {
  border: 2px solid white;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Segoe UI";
  background-color: #11111b;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 1rem;
  cursor: pointer;
}

.btn-send:hover {
  color: #11111b;
  background-color: #E0E0E0;
  border: 2px solid #E0E0E0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  max-width: 100%;
  background-color: #24242d;
  padding: 0 1rem;
  position: fixed;
  width: 85%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    top: 2%;
  }
}
.header-logo {
  width: 50px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-logo {
    width: 70px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-logo {
    width: 70px;
  }
}
@media (min-width: 1200px) {
  .header-logo {
    width: 70px;
  }
}
@media (max-width: 767px) {
  .header nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: #24242d;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    width: 50%;
    height: 100vh;
    background-color: #24242d;
    transition: all 0.5s ease-in-out;
  }
}
.header nav ul {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
@media (max-width: 767px) {
  .header nav ul {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header nav ul {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 5rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header nav ul {
    gap: 2.3rem;
  }
}
@media (min-width: 1200px) {
  .header nav ul {
    gap: 2.5rem;
  }
}
.header nav li {
  width: 100%;
  list-style-type: none;
  text-align: center;
}
@media (max-width: 767px) {
  .header nav li {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header nav li {
    padding: 0.5rem 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header nav li {
    padding: 1.5rem 0;
  }
  .header nav li:hover {
    background-color: transparent;
  }
}
@media (min-width: 1200px) {
  .header nav li {
    padding: 1.5rem 0;
  }
  .header nav li:hover {
    background-color: transparent;
  }
}
.header nav li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.7rem;
  font-family: "Fira Code";
}
@media (min-width: 768px) and (max-width: 991px) {
  .header nav li a {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header nav li a {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .header nav li a {
    font-size: 1rem;
  }
}
.header nav li a::before {
  content: "</";
}
.header nav li a::after {
  content: ">";
}
.header-user-hamburger {
  gap: 1rem;
}
.header-hamburger {
  z-index: 3;
  padding: 5px;
  position: relative;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px auto;
  border-radius: 5px;
}
.header-hamburger a {
  padding: 7px;
  border-radius: 5px;
}
.header-hamburger a:hover {
  background-color: #11111b;
  cursor: pointer;
}
.header-hamburger .btn-burger {
  width: 30px;
  height: 2px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.header-hamburger .btn-burger::before, .header-hamburger .btn-burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.header-hamburger .btn-burger::before {
  transform: translateY(-10px);
}
.header-hamburger .btn-burger::after {
  transform: translateY(10px);
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-hamburger {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header-hamburger {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  nav {
    visibility: visible;
  }
}
.nav-hidden {
  display: none;
  visibility: hidden;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .nav-hidden {
    display: flex;
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .nav-hidden {
    display: flex;
    visibility: visible;
  }
}

.nav-visible {
  display: flex;
}

.header-hamburger.open .btn-burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.header-hamburger.open .btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.header-hamburger.open .btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

#hamburger {
  padding: 8px;
}
#hamburger:hover {
  background-color: #11111b;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 2rem 1rem;
  color: rgb(179, 179, 179);
  gap: 2rem;
  background-color: black;
}
.footer-heading {
  font-size: 1.2rem;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer-heading {
    font-size: 2rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .footer-heading {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .footer-heading {
    font-size: 2.2rem;
  }
}
.footer-heading:before, .footer-heading:after {
  content: '"';
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer a {
  border: 2px solid white;
  padding: 7px;
  border-radius: 100px;
}
.footer img {
  width: 20px;
  height: 20px;
}

.section-header {
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 767px) {
  .section-header {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-header {
    font-size: 1rem;
  }
}

.section-title::before {
  content: "</";
}

.section-title::after {
  content: ">";
}

.section-line {
  border: 1px solid white;
  width: 450px;
  margin-left: 1.5rem;
}
@media (max-width: 767px) {
  .section-line {
    width: 160px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-line {
    width: 60%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  main {
    padding: 0 5rem;
  }
}
@media (min-width: 1200px) {
  main {
    padding: 0 5rem;
  }
}

.hero {
  margin: 5rem 0 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero {
    margin: 9rem 0 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero {
    margin: 7rem 0 0;
  }
}
@media (min-width: 1200px) {
  .hero {
    width: 50rem;
    margin: 7rem 0 0;
  }
}
.hero-greet {
  font-size: 2.5rem;
  font-weight: 600;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-greet {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .hero-greet {
    font-size: 3rem;
  }
}
.hero-name, .hero-work {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Segoe UI";
  font-size: 4rem;
  line-height: 1.2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.hero-bio {
  font-size: 1.4rem;
  font-weight: 400;
  padding-top: 10px;
  line-height: 1.5;
  font-family: "Segoe UI";
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-bio {
    width: 86%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-bio {
    width: 85%;
    margin-top: 2rem;
  }
}
@media (min-width: 1200px) {
  .hero-bio {
    width: 85%;
    margin-top: 2rem;
  }
}

.aboutme {
  margin: 5rem 0;
}
.aboutme-about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
  font-family: "Segoe UI";
  line-height: 1.5;
  font-weight: 400;
  padding: 2rem 1.5rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .aboutme-about {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .aboutme-about {
    flex-direction: row;
    align-items: flex-start;
  }
}
.aboutme p {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .aboutme p {
    flex-basis: 70%;
  }
}
@media (min-width: 1200px) {
  .aboutme p {
    flex-basis: 60%;
    padding: 0;
  }
}
.aboutme-profile {
  width: 60%;
  align-self: center;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .aboutme-profile {
    flex-basis: 35%;
  }
}
@media (min-width: 1200px) {
  .aboutme-profile {
    flex-basis: 30%;
  }
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 1.5rem;
  font-family: "Segoe UI";
}
.skills-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.skills-header-heading {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 5px;
}
.skills-header-speak {
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.skills-section {
  margin-bottom: 4rem;
  width: 100%;
}
.skills-cards-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .skills-cards-box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .skills-cards-box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .skills-cards-box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.skills-name {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.137);
  background-color: rgba(255, 255, 255, 0.005);
  padding: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .skills-name {
    flex-basis: 35%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .skills-name {
    flex-basis: 36%;
  }
}
@media (min-width: 1200px) {
  .skills-name {
    flex-basis: 39%;
  }
}
.skills-name::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: auto;
  background-size: 400% 400%;
  animation: gradientforlanguage 5s ease infinite;
  top: 0;
  transition-duration: 0.5s;
}

.projects {
  margin-top: 1rem;
}
.projects-boxes {
  display: flex;
  justify-content: center;
  width: 900px;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .projects-boxes {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .projects-boxes {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .projects-boxes {
    width: 800px;
  }
}
.projects-box-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  padding-top: 3rem;
}
@media (min-width: 1200px) {
  .projects-box-container {
    width: 700px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .projects-box-container {
    width: 100%;
    padding-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .projects-box-container {
    width: 700px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .projects-box-container {
    width: 700px;
  }
}
.projects-box {
  background-color: rgba(255, 255, 255, 0.005);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.137);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .projects-box {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .projects-box {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .projects-box {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 100%;
  }
}
.projects-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  font-family: "Segoe UI";
  padding: 1rem 0 1rem;
}
@media (min-width: 1200px) {
  .projects-info {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .projects-info {
    flex-basis: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .projects-info {
    flex-basis: 50%;
  }
}
.projects-info h1 {
  font-weight: 700;
  font-size: 2rem;
}
.projects-info p {
  color: gray;
  font-weight: 400;
  font-size: 1.2rem;
}
.projects-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 12px;
}
.projects-tag {
  padding: 0.3rem;
  border: 1px solid gray;
  line-height: 1;
  border-radius: 5px;
}
.projects-img {
  height: 100%;
  overflow: auto;
}
@media (max-width: 767px) {
  .projects-img {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .projects-img {
    flex-basis: 50%;
  }
}
@media (min-width: 1200px) {
  .projects-img {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .projects-img {
    flex-basis: 50%;
  }
}

.contact {
  margin-top: 3rem;
  font-family: "Segoe UI";
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-container {
  margin-top: 2rem;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-container {
    width: 500px;
    align-self: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .contact-container {
    width: 600px;
    align-self: center;
  }
}
@media (min-width: 1200px) {
  .contact-container {
    width: 600px;
    align-self: center;
  }
}
.contact form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
}
.contact form span {
  color: #198754;
  text-align: center;
}
.contact-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
}
.contact-inputs input, .contact-inputs textarea {
  width: 95%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #E0E0E0;
  font-size: 1rem;
}
.contact-inputs input:focus, .contact-inputs textarea:focus {
  background-color: white;
}
.contact-inputs small {
  color: #dc3545;
}
.contact .error {
  border-color: #dc3545;
}
.contact .error:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
.contact .success {
  border-color: #198754;
}
.contact .success:focus {
  box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25);
}

.main-blog {
  margin: 5rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 90%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-blog {
    margin: 8rem auto;
    width: 550px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-blog {
    margin: 8rem auto;
    width: 750px;
  }
}
@media (min-width: 1200px) {
  .main-blog {
    margin: 8rem auto;
    width: 750px;
  }
}

.blog-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.blog-search {
  display: flex;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blog-search {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .blog-search {
    width: 60%;
  }
}
.blog-search img {
  position: absolute;
  left: 2px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
}
.blog-search input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #E0E0E0;
}
.blog-search input:focus {
  background-color: #ffffff;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blog-search input {
    width: 100%;
    padding: 9px;
  }
}
@media (min-width: 1200px) {
  .blog-search input {
    width: 100%;
    padding: 9px;
  }
}

.blog-writer {
  border: 1px solid #24242d;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
.blog-writer:hover {
  background-color: #24242d;
}
.blog-writer span {
  display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blog-writer span {
    display: flex;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blog-writer span {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .blog-writer span {
    display: flex;
  }
}

.blog {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.blog-container {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.137);
  background-color: rgba(255, 255, 255, 0.04);
  padding: 1rem;
  border-radius: 5px;
}
@media (min-width: 1200px) {
  .blog-container {
    padding: 1.5rem 2rem;
  }
}
.blog-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.blog-blogger {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.blog-blogger img {
  width: 35px;
  height: 35px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blog-blogger img {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 1200px) {
  .blog-blogger img {
    width: 45px;
    height: 45px;
  }
}
.blog-blogger-name {
  font-size: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.blog-blogger-name h2 {
  font-size: 0.7rem;
  letter-spacing: -1px;
  font-weight: bold;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blog-blogger-name h2 {
    font-size: 0.9rem;
  }
}
@media (min-width: 1200px) {
  .blog-blogger-name h2 {
    font-size: 0.9rem;
  }
}
.blog-blogger-name span {
  font-size: 0.6rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blog-blogger-name span {
    font-size: 0.8rem;
  }
}
@media (min-width: 1200px) {
  .blog-blogger-name span {
    font-size: 0.8rem;
  }
}
.blog-box {
  display: flex;
  gap: 0.3rem;
}
.blog-content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 80%;
  text-decoration: none;
  color: #ffffff;
}
.blog-name {
  line-height: 1.2;
  font-size: 1rem;
  font-weight: 700;
}
@media (max-width: 767px) {
  .blog-name {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blog-name {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}
@media (min-width: 1200px) {
  .blog-name {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}
.blog-desc {
  display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blog-desc {
    display: flex;
    font-size: 0.75rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blog-desc {
    display: flex;
    font-size: 0.85rem;
  }
}
@media (min-width: 1200px) {
  .blog-desc {
    display: flex;
    font-size: 0.85rem;
  }
}
.blog-image {
  width: 100px;
}
.blog-image img {
  width: 100%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blog-image {
    width: 120px;
  }
}
@media (min-width: 1200px) {
  .blog-image {
    width: 130px;
  }
}
.blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-top: 1rem;
}
.blog-footer span:nth-child(1) {
  font-size: 0.7rem;
  padding: 4px 6px;
  border: 1px solid #24242d;
  font-weight: 500;
  border-radius: 50px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blog-footer span:nth-child(1) {
    font-size: 0.8rem;
    padding: 4px 10px;
  }
}
@media (min-width: 1200px) {
  .blog-footer span:nth-child(1) {
    font-size: 0.8rem;
    padding: 4px 10px;
  }
}
.blog-footer-time {
  font-size: 0.6rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blog-footer-time {
    font-size: 0.8rem;
  }
}
@media (min-width: 1200px) {
  .blog-footer-time {
    font-size: 0.8rem;
  }
}
.blog-footer-setting {
  padding: 2px;
  position: relative;
  z-index: 99;
  border-radius: 5px;
}
.blog-footer-setting:hover {
  background-color: #24242d;
}
.blog-footer-setting-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blog-footer-setting-icon {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 1200px) {
  .blog-footer-setting-icon {
    width: 35px;
    height: 35px;
  }
}
.blog-footer-setting-list {
  visibility: hidden;
  display: flex;
  position: absolute;
  right: 0;
  top: 1.7rem;
  background-color: #24242d;
  border: 1px solid #24242d;
  font-size: 0.7rem;
  width: 130px;
  border-radius: 5px;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .blog-footer-setting-list {
    margin-top: 1rem;
  }
}
.blog-footer-setting-list ul {
  display: flex;
  flex-direction: column;
}
.blog-footer-setting-list li {
  list-style-type: none;
  padding: 0.4rem 1rem;
  width: 100%;
  text-align: left;
}
.blog-footer-setting-list li:hover {
  background-color: #11111b;
}
.blog-footer-setting-list li:last-child {
  font-weight: 600;
  color: #f25e5e;
}
.blog-footer-setting-list li a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}
.blog-footer-setting .active {
  visibility: visible;
}

.blogx-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.blogx-header-title {
  font-weight: 700;
  line-height: 1.2;
  font-size: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blogx-header-title {
    font-size: 2rem;
    width: 500px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blogx-header-title {
    font-size: 2rem;
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .blogx-header-title {
    font-size: 2rem;
    width: 80%;
  }
}
.blogx-blogger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blogx-blogger {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blogx-blogger {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .blogx-blogger {
    flex-direction: row;
    align-items: center;
  }
}
.blogx-blogger-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.blogx-blogger-profile-img {
  width: 30px;
  height: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blogx-blogger-profile-img {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blogx-blogger-profile-img {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1200px) {
  .blogx-blogger-profile-img {
    width: 50px;
    height: 50px;
  }
}
.blogx-blogger-profile-name div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.blogx-blogger-profile-name h2 {
  font-size: 0.8rem;
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blogx-blogger-profile-name h2 {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blogx-blogger-profile-name h2 {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .blogx-blogger-profile-name h2 {
    font-size: 1rem;
  }
}
.blogx-blogger-profile-name span {
  font-size: 0.6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blogx-blogger-profile-name span {
    font-size: 0.7rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blogx-blogger-profile-name span {
    font-size: 0.8rem;
  }
}
@media (min-width: 1200px) {
  .blogx-blogger-profile-name span {
    font-size: 0.8rem;
  }
}
.blogx-blogger-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  align-self: flex-end;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blogx-blogger-links {
    align-self: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blogx-blogger-links {
    align-self: center;
  }
}
@media (min-width: 1200px) {
  .blogx-blogger-links {
    align-self: center;
  }
}
.blogx-blogger-links div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 1px solid #24242d;
  border-radius: 5px;
}
.blogx-blogger-links div:hover {
  background-color: #24242d;
  cursor: pointer;
}
.blogx-content {
  padding: 0 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.blogx-content p, .blogx-content li {
  letter-spacing: -0.003em;
  line-height: 25px;
  font-size: 15px;
  word-break: break-word;
  font-weight: 400;
  overflow-wrap: break-word;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blogx-content p, .blogx-content li {
    font-size: 18px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blogx-content p, .blogx-content li {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .blogx-content p, .blogx-content li {
    font-size: 20px;
  }
}
.blogx-content ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.blogx-content ul li {
  margin-left: 2rem;
}
.blogx-content h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.016em;
  line-height: 30px;
}

.login {
  margin: 8rem auto;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.login-choice {
  display: flex;
  flex-direction: column;
}
.login-choice li {
  display: flex;
  border: 1px solid white;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.5rem 1rem;
  margin-bottom: 10px;
  border-radius: 50px;
  cursor: pointer;
}
.login-choice li:hover {
  background-color: #24242d;
}
.login-choice li img {
  width: 30px;
}
.login-no-account {
  font-size: 1rem;
}
.login-no-account a {
  font-weight: 700;
  text-decoration: none;
}
.login-no-account a:visited {
  color: #f25e5e;
}
.login-no-account a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */