    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 100px;
        max-width: 100%;
        background-color: map-get($colors, "secondary-color");
        padding: 0 1rem;
        position: fixed;
        width: 85%;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 10;
        @include tables {
            top: 2%;
        }
        &-logo {
            width: 50px;
            @include tables {
                width: 70px;
            }
            @include sm-desktop {
                width: 70px;
            }
            @include lg-desktop {
                width: 70px;
            }
        }
        nav {
            @include mobiles {
                position: fixed;
                right: 0;
                top: 0;
                z-index: 1;
                width: 100%;
                height: 100vh;
                background-color: map-get($colors, "secondary-color" );
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }
            @include tables {
                position: fixed;
                right: 0;
                top: 0;
                z-index: 1;
                width: 50%;
                height:100vh;
                background-color: map-get($colors, "secondary-color");
                transition: all .5s ease-in-out;
            }
            ul {
                display: flex;
                margin: 0;
                align-items: center;
                justify-content: center;
                padding: 0 1rem;
                @include mobiles {
                    flex-direction: column;
                    justify-content: flex-start;
                    width: 100%;
                    margin-top: 4rem;
                }
                @include tables {
                    gap: .5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    width: 100%;
                    margin-top: 5rem;
                }
                @include sm-desktop {
                    gap: 2.3rem;
                }
                @include lg-desktop {
                    gap: 2.5rem;
                }
            }
            li {
                width: 100%;
                list-style-type: none;
                text-align: center;
                
                @include mobiles {
                    padding: 1rem;
                }
                @include tables {
                    padding: 0.5rem 0;
                }
                @include sm-desktop {
                    padding: 1.5rem 0;
                    &:hover {
                    background-color: transparent;
                }
                }
                @include lg-desktop {
                    padding: 1.5rem 0;
                    &:hover {
                    background-color: transparent;
                }
                }
                
                a {
                    text-decoration: none;
                    color: map-get($colors, "white");
                    font-size: 0.7rem;
                    font-family: map-get($font-family, "fira-code");
                    @include tables {
                        font-size: 0.9rem;
                    }
                    @include sm-desktop {
                        font-size: 1rem
                    }
                    @include lg-desktop {
                        font-size: 1rem;
                    }
                }
                a::before{
                    content: "</"
                }
                a::after {
                    content: ">"
                }
            }

        }
        &-user-hamburger {
            gap: 1rem;
        }
        &-hamburger {
            z-index: 3;
            padding: 5px;
            position: relative;
            height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2px auto;
            border-radius: 5px;
            
            a {
                padding: 7px;
                border-radius: 5px;
            }
            a:hover {
                background-color: map-get($colors, "bg-color");
                cursor: pointer;
                
            }
                .btn-burger {
                    width: 30px;
                    height: 2px;
                    background-color: white;
                    border-radius: 5px;
                    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
                    transition: all .5s ease-in-out;
                    &::before, &::after {
                        content: '';
                        position: absolute;
                        width: 30px;
                        height: 2px;
                        position: absolute;
                        background-color: white;
                        border-radius: 5px;
                        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
                        transition: all .5s ease-in-out;
                    }
                    &::before {
                        transform: translateY(-10px);
                    }
                    &::after {
                        transform: translateY(10px);

                    }
                }
                
                

            @include sm-desktop {
                display: none;
            }
            @include lg-desktop {
                display: none;
            }
        }
    }
@include tables {
    nav {
        visibility: visible;
    }
}
.nav-hidden {
    display: none;
    visibility: hidden;
    @include sm-desktop {
        display: flex;
        visibility: visible;
    }
    @include lg-desktop {
        display: flex;
        visibility: visible;
    }
}
.nav-visible {
    display: flex;
}
.header-hamburger.open .btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.header-hamburger.open .btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);;
}
.header-hamburger.open .btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);;
}
#hamburger {
    padding: 8px;
    &:hover {
        background-color: #11111b;
    }
}