.section-header {
    font-family: map-get($font-family, "fira code");
    font-size: 1.5rem;
    font-weight: 500;
    user-select: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include mobiles {
        font-size: 0.8rem;
    }
    @include tables {
        font-size: 1rem;
    }
}
.section-title::before {
    content: "</"
}
.section-title::after {
    content: ">"
}
.section-line {
    border: 1px solid white;
    width: 450px;
    margin-left: 1.5rem;
    @include mobiles {
        width: 160px;
    }
    @include tables {
        width: 60%;
    }
}