.section-header {
    font-family: map-get($font-family, "fira code");
    font-size: 1.5rem;
    font-weight: 500;
    user-select: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.section-title::before {
    content: "</"
}
.section-title::after {
    content: ">"
}
.section-line {
    border: 1px solid white;
    width: 450px;
    margin-left: 1.5rem;
}