body {
    width: 100%;
}
.container {
    color: map-get($colors, "white" );
    padding: 1.2rem;
    @include mobiles {
        position: relative;
        padding: 1rem 1rem;
    }
    @include tables {
        padding: 1rem 3rem;
    }
    @include sm-desktop {
        padding: 1rem 4rem;
    }
    @include lg-desktop {
        padding: 1rem 4rem;
    }
}
hr {
    margin: 1.5rem auto;
}