body {
    width: 100%;
}
.container {
    color: map-get($colors, "white" );
    padding: 1.2rem;
    @include mobiles {
        position: relative;
        padding: 1rem 1rem;
    }
    @include tables {
        padding: 1rem 3rem;
    }
    @include sm-desktop {
        padding: 1rem 4rem;
    }
    @include lg-desktop {
        padding: 1rem 4rem;
    }
}
hr {
    // margin: 1rem auto;
    width: 100%;
}
small {
    color: map-get($colors, "border-error")
}
.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.loader-hidden {
    display: none;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}