main {
    @include sm-desktop {
        padding: 0 5rem;
    }
    @include lg-desktop {
        padding: 0 5rem;
    }
}
.hero {
    margin: 5rem 0 0;
    @include tables {
        margin: 9rem 0 0;
    }
    @include sm-desktop {
        margin: 7rem 0 0;
    }
    @include lg-desktop {
        width: 50rem;
        margin: 7rem 0 0;
    }
    &-greet {
        font-size: 2.5rem;
        font-weight: 600;
        // color: map-get($colors, "white");
        @include sm-desktop {
            font-size: 3rem;
        }
        @include lg-desktop {
            font-size: 3rem;
        }
    }
    &-name, 
    &-work {
        font-size: 3rem;
        font-weight: 700;
        font-family: "Segoe UI";
        font-size: 4rem;
        line-height: 1.2;
        user-select: none;
    }
    &-bio {
        font-size: 1.4rem;
        font-weight: 400;
        padding-top: 10px;
        line-height: 1.5;
        font-family: "Segoe UI";
        user-select: none;
        @include tables {
            width: 86%
        }
        @include sm-desktop {
            width: 85%;
            margin-top: 2rem;
        }
        @include lg-desktop {
            width: 85%;
            margin-top: 2rem;
        }
    }
}