#result {
    text-align: center;
}
.login {
    margin: 8rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 80%;
        @include tables{
            width: 50%;
        }
        @include sm-desktop{
            width: 50%;
        }
        @include lg-desktop{
            width: 50%;
        }

        h1 {
            text-align: center;
        }
        a {
            color: map-get($colors, "border-success");
            text-decoration: underline;
        }
    }
    &-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5rem;
        width: 100%;
        @include sm-desktop {
            width: 90%;
        }
        @include lg-desktop {
            width: 90%;
        }
    }
    &-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
    }
    &-input {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        width: 100%;
        label {
            font-size: 0.9rem;
        }
        input {
            padding: 0.5rem 0.2rem;
            border-radius: 5px;
            border: none;
            background-color: map-get($colors, "secondary-color");
            color: map-get($colors, "input-color")
        }
    }
    &-choice {
        display: flex;
        flex-direction: column;
        li {
            display: flex;
            border: 1px solid white;
            justify-content: space-between;
            gap: 2rem;
            padding: 0.5rem 1rem;
            margin-bottom: 10px;
            border-radius: 50px;
            cursor: pointer;
            &:hover {
                background-color: map-get($colors, "secondary-color");
            }
            img {
                width: 30px;
            }
        }
    }
    &-no-account {
        font-size: 1rem;
        a {
            font-weight: 700;
            text-decoration: none;
            &:visited {
                color: darken(map-get($colors, "border-success"), 10%);
            }
            &:hover {
                text-decoration: underline;
            }
        }
        
    }
}